TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
PROTALK_TOKEN=your_protalk_api_token_here
PROTALK_BOT_ID=23141
PROTALK_FUNCTION_ID=609
YUKASSA_PROVIDER_TOKEN=your_yukassa_provider_token_here
UPSTASH_REDIS_REST_URL=your_upstash_redis_url_here
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_token_here
ADMIN_ID=your_telegram_admin_id_here
